.color-display {
    width: 550px;height: 550px;
}

.background-color-red.  {
    background-color: red;
}

.background-color-green {
    background-color: green;
}

.background-color-grey{
    background-color: grey;
}

.background-color-blue {
    background-color: blue;
}

.background-color-purple {
    background-color: purple;
}
