body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin-right: 10px;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 10px;
}

.form-box p {
  text-align: center;
  font-size: 14px;
  color: #666;
}

.input-group {
  margin-bottom: 10px;
}

.input-group input {
  width: 80%;
  padding: 10px;
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.checkbox-group {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.checkbox-group input {
  margin-right: 5px;
}

.checkbox-group label {
  font-size: 14px;
  color: #666;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.signin-link {
  text-align: center;
  margin-top: 10px;
}

.signin-link a {
  color: #4caf50;
  text-decoration: none;
}

/* Tic Tac Toe UI */
.ttt-ui {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.square {
  background-color: teal;
  border: 2px solid red;
}
